<p id="notice"><%= notice %></p>
<div class="container">
  <div class="title">
    <h2><%= @nanny.description %></h2>
    <% if @nanny.photo.attached? %>
      <%= cl_image_tag @nanny.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

<br>
<p><%= link_to 'Back', nannies_path %></p>

</div>
