<div class="d-flex m-5">
  <div class="block">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card-image"/>
  </div>
  <div class='p-5'>
    <h2><%= @nanny.description %></h2>
    <p><%=@nanny.price_per_hour%>€</p>
    <div><%= link_to "Book me", root_path, class: "btn btn-primary" %></div>
  </div>
</div>
<p><%= link_to 'Back', nannies_path, class: "btn btn-secondary" %></p>






