<main class="wrapper">
  <section class="hero">
    <h1>Need a hand?</h1>
    <article>
        <p>Browse nannies in your area that can provide the support you need in your busy life.</p>
    </article>
    <%= link_to nannies_path do %>
    <button type="button" class="btn btn-success">Find a Nanny</button>
    <% end %>
  </section>
</main>
<footer>
  <p>&copy; MAIJ 2020 </p>
</footer>
