.btn-green {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bolder;
  margin-top: 15px;
}

.btn:hover {
  color: white;
}

.btn .btn-secondary {
  padding: 100px;
  margin-left: 50px;
}

.btn-success {
  margin-top: 15px;
  padding: 10px;
}

.btn-light {
  margin-top: 15px;
  margin-left: 12px;
  padding: 10px;
}
