.btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bolder;
  margin-top: 13px;
}

.btn:hover {
  background: #1BCB7F;
  color: white;
}
