<%= simple_form_for([ booking, review ])  do |form| %>
<div class='d-flex justify-content-start'>
  <%= form.input :content, class: 'mr-4' %>
  <%= form.input :rating, collection: Review::RATINGS  %>
  </div>
  <%= form.button :submit, 'send review!', class: 'grey' %>

<% end %>
